                body {
                        background-color: black;
                        color: white;
                        font-family: Arial, sans-serif;
                        text-align: center;
                        background-image: url(img/bg_startsite.png);
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-position: center top;
                }
                .content-box {
                        flex: 1;
                        max-width: 611px;
                        height: 100%;
                        margin: 0 auto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        background-color: rgba(0, 0, 0, 0.555);
                }
                .content-box p {
                        font-size: 20px;
                        margin: 50px 0 20px;
                }

