                body {
                        background-color: black;
                        color: white;
                        font-family: Arial, sans-serif;
                        text-align: center;
                }

                .fade-in {
                        opacity: 0;
                        animation: fade-in 3s ease-in-out forwards;
                        text-align: center;
                        font-size: 40px;
                        font-family: noto sans;
                        text-shadow: 0 0 5px white;
                }

                @keyframes fade-in {
                        0% {
                                opacity: 0;
                        }
                        100% {
                                opacity: 1;
                        }
                }
                div.div1 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                }