                body {
                        background-color: black;
                        color: white;
                        font-family: Arial, sans-serif;
                        text-align: center;
                        background-image: url(../img/bg_startsite.png);
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                        background-position: center top;
                        
                }
                div.div1 {
                        display: flex;
                        align-items: center;
                        justify-content: center;                       
                }